<div class="dashboard">
  <h1 class="title"> Dashboard </h1>
  <%= render 'partials/search_bar' %>
  <% @categories.each do | category, contents | %>
    <h2> <b> <%= category %> </b> </h2>
    <%= render 'partials/contents_table', contents: contents %>
  <% end %>
</div>
